@media screen and (max-width: 991px){
    *{
        margin: 0;
    }
    .header .container{
        background-color: gray;
        color: white;
    }
    .header .container .header-left{
        margin-left: 50px;
    }
    .header .container .header-right{
        margin-right: 30px;
    }
    .header .background {
        background-image: none;
        color: #000;
        height: 150px;
        border-bottom: 1px solid #928f8f;
        margin: 0 50px;
    }    
    .header .background h1{
        position: absolute;
        left: 50px;
        top: 120px;
        font-size: 30px;
    }
    .header .background p{
        position: absolute;
        left: 50px;
        top: 180px;
        font-size: 15px;
        color: #968c8c;
    }
    .main{
        background-color: #fff;
    }
    .main .title{
        margin-left: 6%;
    }
    .container-img {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .column1, .column2{
        /* flex: 1; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 42%;
        padding: 10px;
        margin-left: 4%;
        margin-right: 4%;
    }
    .column3{
        width: 42%;
        padding: 10px;
        margin-left: 4%;
    }
    .footer {
        padding: 20px 40px 30px 40px;
        display: flex;
        background-color: #fff;
        flex-wrap: wrap;
    }
    
    .section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-left: 3%;
        margin-bottom: 50px;
    }
    .section h2 {
        margin-bottom: 10px;
    }
    
    .section p {
        margin-bottom: 10px;
        color: #968c8c;
    }
}

@media screen and (max-width: 768px){
    .header .container .header-left{
        font-size: 2.5vw;
    }
    .header .container .header-right{
        font-size: 2vw;
    }
    .container-img {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .column{
        width: 100%;
        margin: 0
    }
    .image2, .image4 {
        margin: 10px;
    }
}