.header{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url("/Boostrap/assets/images/one-page/header-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header .inner-main{
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .inner-logo img{
    height: 36px;
    width: auto;
}
.header .inner-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.header .inner-menu ul li{
    margin-left: 30px;
}

.header .inner-menu ul li a{
    color: #000;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.header .inner-main ul li a:hover{
    color: #10C9C3;
}
.header .inner-icon-menu{
    display: none;
}