.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  width: 95%;
}

.form-container {
  width: 100%; /* Set width to 90% of the container */
  padding: 20px;
  margin-left: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  background-color:#fff;
}

.text-left{
  margin-bottom: 20px;
}
.form-title {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}
